body{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    background-color: #090726;
    color: #cbc3d0;
}

nav{
    background-color: #090726;
    border-bottom: .15px groove #cbc3d0;
    margin-bottom: 3rem;
}

/* title elements */
.heading{
    font-size: 2.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.sub-heading {
    font-size: 1.4rem;
}

/* quiz elements */
#quiz-form{
    margin-top: 2rem;
}

.buttons {
    gap: 1rem;
}

#quiz-container {
    padding: 2rem;
}

#qa-container {
    position: relative;
    width: 46%;
    border: 1px solid #cbc3d0;
    border-radius: .5rem;
    padding: 2rem;
    margin-bottom: 3rem;
}

.correct-feedback p{
    color: #16f18f;
    font-weight: bold;
    margin: 0;
}

.right-glow {
    border: 1px solid #16f18f !important;
    box-shadow: 0px 0px 40px 2px rgba(22,241,143,0.4);
}

.wrong-feedback p{
    color: #ff32f8;
    font-weight: bold;
    margin: 0;
}

.wrong-glow {
    border: 1px solid #ff32f8 !important;
    box-shadow: 0px 0px 40px 2px rgba(255,50,248,0.4);
}

#type-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.category, .difficulty {
    font-size: .85rem;
    text-transform: capitalize;
}

.question {
    font-size: 1.15rem;
    margin-bottom: 1.5rem;
}

.choice-text {
    display: flex;
    flex-direction: column;
    padding: .75rem;
    margin-top: .75rem;
    border: 1px solid #cbc3d0;
    border-radius: .5rem;
    cursor: pointer;
}

.choice-text:hover {
    animation: zoom 1s ease infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.05, 1.05);
    }
    100%{
        transform: scale(1, 1);
    }
}

/* loader */
.lds-ripple {
    /* display: inline-block; */
    position: absolute;
    top: 50%;
    left: 47%;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #34e2fc;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

  @media screen and (max-width: 992px) {
    .heading {
        font-size: 2.2rem;
    }

    .sub-heading {
        font-size: 1.1rem;
    }

    #qa-container{
        width: 98%;
    }

    .lds-ripple{
        top: 60%;
    }
}

@media screen and (max-width:576px) {
    .lds-ripple{
        top: 80%;
        left: 40%;
    }

    .title{
        margin-bottom: 1.5rem;
    }

    #quiz-form {
        width: 95%;
        margin: 0 auto;
    }

    #quiz-form > div {
        margin-bottom: .75rem;
    }

    .buttons {
        margin-top: 1rem;
    }
}
  